h1 {
    color: cornflowerblue;

}

.list-item {
    font-family: monospace;
}

#goal-list {
    border-style: solid;
    border-color: #5179ba;
    width: 30%;
}

#css-item {
    color: #5179ba;
}

#picture {
    width: 60%;
    float: right;
    border: solid;
    border-color: grey beige white grey;
}
